# Visual Studio cache ve ayar dosyalarý
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build çýktýlarý
bin/
obj/
Debug/
Release/

# Rider / JetBrains
.idea/
*.sln.iml

# ASP.NET loglar
*.log

# Geçici dosyalar
*.swp
*.*~
*.tmp
*.temp

# Paketler
*.nupkg
packages/

# Publish çýktýlarý
publish/
app.publish/

# Kullanýcý gizli ayarlarý
appsettings.Development.json
secrets.json

# OS özel dosyalar
.DS_Store
Thumbs.db
